<app-header-style-one></app-header-style-one>

<div >
    <div class="container">
        <div class="page-title-content">
            <h3>All Quizzes</h3>
        </div>
        <div class="page-content recent-orders-table table-responsive">

            <mat-table #table [dataSource]="dataSource"  *ngIf="!tmp">
                <ng-container matColumnDef="quiz_name">
                    <mat-header-cell *matHeaderCellDef> Quiz </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field floatLabel="never">
                            <input matInput placeholder="Quiz Name" 
                            (blur)="onBlurMethod(element)"
                            [value]="element.content" [(ngModel)]="element.quiz_name">
                        </mat-form-field>
                    </mat-cell>
                </ng-container> 

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <table  mat-table  class="table" *ngIf="tmp">
                <thead>
                    <tr>
                        <th>Class Code</th>
                        <th>Class Name</th>
                        <th>Student Code</th>
                        <th>Student Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tmpData">
                        <td>{{item.classCode}}</td>
                        <td>{{item.className}}</td>
                        <td>{{item.studentCode}}</td>
                        <td>{{item.studentName}}</td>
                        <td><a routerLink="/single-courses" class="view-button">View</a></td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
</div>